.logo {
    width : 200px;
    height : 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item-0{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.un-line{
    padding-right: 20rem;
    border-top-style: solid ;
}
.picture {
    position: relative;
    bottom: -43%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content{
    display: grid;
    border: 2px black;
    box-shadow: 0px 2px 4px #7B7A72;
}
.con1{
    background-color: #75816b;
    grid-template-columns: 1fr 2fr;
    height: 250px;
    border-radius: 16px 16px 0px 0px ;
}
.con2{
    border-radius: 0px 0px 16px 16px ;
    background-color: white;
    padding: 50px 60px 50px 60px;
    grid-template-columns: 5fr 1fr 10fr;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    display: flex;
    align-items: flex-end;
    font-size: xxx-large;
    margin-top: 2rem;
}
.numcode{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: flex-end;
    font-size: x-large;
}
.info-left{
    display: grid;
    gap: 40px;
    padding-top: 40px;
}
.educate{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}
.lineedu{
    display: grid;
    justify-items: center;
}
.circle{
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.line{
    border-color: black;
    border-left-style: solid;
    height: 100px;

}
.time{
    display: grid;
    max-height: 400px;
}
.info-right{
    display: grid;
    gap: 40px;
}
table{
    text-align: center;
    border-radius: 26px 26px 26px 26px ;
    box-shadow:0px 2px 4px #7B7A72;
}
.topic{
    background-color: black;
    width: 150px;
    color: white;
    text-align: center;
}
.t-c{
    margin-left: 50px;
    margin-right: auto;
}
.item-2{
    border-color: black;
    border-left-style: solid;
    margin-top: 80px;
    margin-bottom: 50px;
}
.col-hobby{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.ihob {
    padding-right: 10px;
}
.text-bold{
    font-weight: bold;
}
.margin-i-left{
    margin-top: 15%;
}
.social-img{
    text-align: center;
    font-size: x-large;
    margin-left: 50px;
    height: 50px;
    width: 100px;
}
.social-img li {
    display: inline;
    background: rgba(204, 204, 204, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pionter;
    transition: background 150ms ease-in-out;
}
.social-img li:hover {
    background: #ccc;
}
ul li{
    margin-top: 10px;
}
.h-inline{
    display: grid;
    grid-template-columns: 2rem auto;
}
.fa-solid{
    font-size: x-large;
}
.midterm{
    padding-top:20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
    width: 600px;
    display: grid;
    border-radius: 26px 26px 26px 26px ;
    box-shadow: 0px 2px 4px #7B7A72;
    background-color: #ffffff;
}
.img-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.img-pro{
    height: 200px;
    width: 400px;
}
.project{
    display: grid;
    gap: 1rem;
}
.prof{
    font-size: x-large;
}